[Unit]
Description=pizero bluetooth to usb hid
After=usb_hid.service

[Service]
User=root
ExecStart=python3 /usr/bin/bluetooth_2_hid.py
Environment=PYTHONUNBUFFERED=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
